#apt addons:
#cache components:
#before install:
#install:
language: python 
python:
  - '3.5'
git:
  quiet: true
#blocklist
branches:
  except:
  - nogood
  only:
  - master
  - stable
  #can use regular expressions

env:
  -DB=mysql
notifications:
  slack: 'usccsse577:EhrArHzs6riLirQairaPDsZ4'
    on_success: always
  email:
    recipients:
      - samuelvi@usc.edu
    on_success: never # default: change
    on_failure: always # default: always
    
#before_script
script: python test.py

#before_cache:
#after_success:
#after_failure:
#before_deploy:
#deploy:
#after_deploy:
#after_script:
